###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [122]:
nums = [1,2,3,4]
print(nums)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [123]:
# Method 1 
nums = [1,2,3,4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [124]:
# Method 2
nums = [1,2,3,4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [125]:
# Method 3
nums = [1,2,3,4]
del nums[2:3]
print(nums)

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [126]:
nums = [1,2,3,4]
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [127]:
         # removes zeroth position

In [128]:
nums = [1,2,3,4]

In [129]:
nums.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [130]:
# Method1
nums = [2]
nums.extend([3,4])
print(nums)

[2, 3, 4]

In [131]:
#Method 2
nums = [2]
x = nums + [3,4]
print(x)

[2, 3, 4]

**Insert number "1" in 0th position**

In [132]:
nums = [2, 3, 4]
nums.insert(0, 1)
print (nums)

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [133]:
nums = [1, 2, 3, 4]

In [134]:
nums.insert(2, 'two-and-half')
print (nums)

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [135]:
plist ="Don't panic!"

*convert into list*

In [136]:
plist = list(plist)

In [137]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [138]:
plist.remove("'")
plist.remove('!')

In [139]:
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [140]:
plst = ['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
unwanted = [5,6,2,0]
for ele in sorted(unwanted , reverse = True ):
    del plst[ele]
print(plst)

['o', 't', ' ', 'n', 'i', 'c']

In [141]:
plist = plst + ['p', 'a', 'n', 'D']
print(plist)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

In [142]:
#We can remove elements using for loop and append them in last by using concatination or even append()

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [143]:
plist1 = plist[6:10]
print(plist1)

['p', 'a', 'n', 'D']

- append list

In [144]:
plist1.append('a')

In [145]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

In [146]:
''.join(plist1)

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [147]:
# CODE HERE

In [148]:
print("data type <class 'tuple>")
nums = (31, 24, 35, 85)
print(nums)

data type <class 'tuple>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [149]:
# CODE HERE

In [150]:
t1 = list(nums)
t1.remove(35)
tuple(t1)

(31, 24, 85)

**Extent** tuple (85,19)

In [151]:
# CODE HERE

In [152]:
t1 = (31,24,85)
t1 + (85,19)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [153]:
# CODE HERE
list1 = [5,2, 3, 6, 6, 5]
list1.sort()
print(list1)
print("Second highest is:", list1[-3])

[2, 3, 5, 5, 6, 6]
Second highest is: 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [154]:
def removeEle(List):
    elements = [0,4,5]
    for i in sorted(elements, reverse = True):
        del List[i]
    return List

In [155]:
# CODE HERE
List = [12,24,35,70,88,120,155]
removeEle(List)

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [156]:
tp = (1,2,3,4,5,6,7,8,9,10)
tp1 = tp[:5]
tp2 = tp[5:]
print(tp1, end = ' ')
print(tp2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [157]:
tp = (1,2,3,4,5,6,7,8,9,10)
Tuple = tuple(i for i in tp if i%2 == 0)
print(Tuple)

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)